/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
	/*margin-top: 50px;
	font-family: 'Teko-Semibold', sans-serif;
	font-size: 16px;*/
	font
	background-color: rgba(0,0,0, 0.8);
	/*opacity: 0.8*/
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #0092d0;
}

a:hover {
	text-decoration: none;
	color: #0092d0 !important;
}

blockquote {
	padding: 0;
	border: none;
	font-style: italic;
	text-align: left;
}

blockquote cite {
	display: block;
	color: #777;
	margin: 15px 0 0 0;
}

blockquote:before {
	display: none;
}

img {
	max-width: 100%;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	/*color: white;*/
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background: #79b044;
	border: none;
}

.btn-success:hover {
	background: #6a9b3d;
	border-color: #6a9b3d;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

.text-danger, li.text-danger a {
	color: #dd5638;
}

a.text-danger:hover {
	color: #e55939;
}

.badge.social {
	background: #000;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 5px 20px 0;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.badge.social.twitter:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.gplus:hover {
	background: #db4b39;
}

.badge.social.linkedin:hover {
	background: #0077B5;
}

/* === CUSTOM ICON SPRITES === */

i.ci {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer 	{ background-position: 0 0; }
.ci.ci-watch		{ background-position: -40px 0; }
.ci.ci-calendar		{ background-position: -80px 0; }
.ci.ci-community	{ background-position: -120px 0; }
.ci.ci-parteners	{ background-position: -160px 0; }
.ci.ci-device		{ background-position: -200px 0; }

/* ==== FORMS ==== */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}

input[type="submit"],
button[type="submit"] {
	display: inline-block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 6px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	outline: none;
	border: none;
	background: #aaa;
}

form.search-form .form-group {
	margin: 0;
}

form.search-form .input-group {
	width: 100%;
}

form.search-form .input-group input[type="search"],
form.search-form .input-group input[type="text"] {
	width: 70%;
}

form.search-form .input-group input[type="submit"] {
	width: 30%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	float: right;
}

form textarea {
	width: 100%;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ==== LAYOUT ==== */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 30px 0 20px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 20px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

#primary {
	padding-top: 40px;
	padding-bottom: 40px;
}

.feature-image {	
	display: table;
	width: 100%;
}

.feature-image-default {
	background: url('../img/stuff-feature.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-alt {
	background: url('../img/hipster-stuff.jpg') no-repeat;
	background-size: cover;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#optin {
	background: #3e4249;
	padding: 20px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#optin p {
	margin: 7px 0 0 0;
}

#course-features {
	background: #3e4249;
	color: white;
	text-align: center;
}

#who-benefits {
	background: white;
}

#project-features {
	text-align: center;
}

#featurette {
	background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
	background-size: cover;
	text-align: center;
	color: white;
}
#jobs{
	/*background-color: #0092d0;*/
	/*color: white;	*/
}
#parteners {
	background-color: #3e4249;
	color: white;
}

#newsletter {
	background-color: #363636;
}

/*#parteners .num {
	display: table;
	font-size: 30px;
	font-weight: bold;
	color: white;
	line-height: 24px;
	height: 140px;
	width: 140px;
	text-align: center;
	background: #dd5638;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#parteners .num .num-content {
	display: table-cell;
	vertical-align: middle;
}

#parteners .num span {
	display: block;
	font-size: 20px;
	font-weight: normal;
}
*/
#kudos {
	text-align: center;
}

.testimonial {
	margin-bottom: 60px;
}

.testimonial img {
	border-radius: 50%;
}

#signup {
	text-align: center;
	background: url('../img/hipster-stuff.jpg') center center repeat fixed;
	background-size: cover;
	color: white;
	padding: 140px 0;
}

#signup h2 {
	font-weight: normal;
}

#signup h2 strong {
	border-bottom: solid 2px #dd5638;
}

#signup .btn {
	font-size: 24px;
}

footer {
	background: rgba(0, 0, 0, 0.8);
	color: gray;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: gray;
}
footer strong{
	color: white;
}
footer a:hover {
	color: #dd5638;
}


/* ==== BLOG ==== */

.post, .widget, #comments {
	position: relative;
	border: solid 1px #ddd;
	background: white;
	margin: 0 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
	padding: 20px;
}

.post header h3 {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
}

.post header h1 {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
	font-size: 24px;
}

.post-image {
	height: auto;
}

.post-details {
	font-size: 12px;
	width: 90%;
}

.post-details i.fa {
	padding-left: 10px;
}

.post-details i.fa:first-child {
	padding: 0;
}

/* === COMMENTS === */

.post-comments-badge {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 25px;
	right: 20px;
	border: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: #79b044;
	text-align: center;
	display: table;
}

.post-comments-badge a {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	line-height: 20px;
}

.post-comments-badge i.fa {
	display: block;
	font-size: 15px;
	padding: 0;
	margin-bottom: 4px;
}

.post-comments-badge:hover {
	background-color: #8bc653;
}

#comments h3 {
	text-align: center;
}

#comments h4 {
	font-size: 1.3em;
}

#comments ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

#comments ol li {
	background: rgba(0,0,0,0.02);
	padding: 10px 20px;
	margin: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px rgba(0,0,0,0.03);
}

#comments ol li ol.children {
	padding: 0;
	list-style: none;
	font-size: 0.96em;
}

#leave-comment {
	margin: 40px 0 0;
	padding: 20px 0 0;
	border-top: solid 1px #eee;
}

/* === RESOURCES === */

.resource {
	width: 31.33333333%;
	float: left;
	margin: 0 3% 40px 0;
}

.resource:nth-child(3n) {
	margin-right: 0;
}

/* === WIDGETS === */

.widget {
	padding: 20px;
}

.widget h4 {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: solid 1px #ddd;
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul li {
	margin: 0 0 5px;
}

.widget ul li:hover {
	position: relative;
	left: 1px;
}

/* 
	문제가 생기면 읽어보자!!
	https://spin.atomicobject.com/2015/03/06/bootstrap-add-xl-grid-size-option/
*/
.container{
	width: 95%;
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width : 991px) {
	.half-blue-background{
	  /*background: linear-gradient(to right, #0092d0 0%, #0092d0 50%, white 50%, white 100%);*/
	  background: #0092d0 !important;
	}
	#jobs_text{
		background-color: #0092d0;
	}
	#myform > div{
		padding-top: 5px;
	}

	#partners-list{
		text-align: center;
	}

	#footer-right{
		text-align: center !important;
		float: left !important;
	}

}

@media screen and (max-width : 768px) {
	.ui-segment{
		/*background-color: blue;*/
		margin-top: 15px;

	}
	#myform > div{
		padding-top: 5px;
	}
	.carousel-indicators li {
		width: 20px !important;
		height: 20px !important;
	}
	.carousel-indicators .active {
		width: 20px !important;
		height: 20px !important;

		background-color: 	 red !important;
	}
	
	#partners-list{
		text-align: center;
	}

	#footer-right{
		text-align: center !important;
		float: left !important;
	}
}

@media screen and (max-width : 568px) {
	.ui-segment{
		/*background-color: red;*/
		margin-top: 15px;
		margin-left: 15px;
	}
	#multi_language{
		visibility: none;
	}
/*	#multi_language2 .ui-segment{
		margin-top: 10px;

	padding-top: 13px;
	font-family: Teko;
}*/
	footer div > div nav {
		text-align: center;
	}

	#social-div{
		text-align: center !important;
		padding-top: 20px;
	}

	#myform > div{
		padding-top: 5px;
	}

	.carousel-indicators li {
		width: 10px !important;
		height: 10px !important;
	}
	.carousel-indicators .active{
		width: 10px !important;
		height: 10px !important;
	}

	#footer-right{
		width: 100%!important;
		text-align: center !important;
		float: center !important;
	}
}

#google-map {
	height: 400px;
}

#contact {
	 background-color: white;
	 padding-bottom: 0;
}
#blog {
	 background-color: white;
}
/*
.navbar-nav {
	padding-top: 10px !important;
}
#logo {
	padding-top: 10px;	
	width: 107px;
	height: 24px;
}*/

.navbar {
   height: 80px;
   min-height: 80px;
}
/**/
.navbar-nav > .active > a > div {
    color: #0092d0;
	padding-bottom: 1px;
    border-bottom: 2px solid #0092d0;

    font-family: Teko !important;
    /*font-style: 'Semibold' !important;*/
    font-size: 27px !important;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a {
	color: #707070;
    font-family: Teko !important;
    /*font-style: 'Semibold' !important;*/
    font-size: 27px !important;
	font-weight: 600;
}

/*.navbar-nav > a > div {
    color: #0092d0;
	padding-bottom: 1px;
    border-bottom: 2px solid #0092d0;
    font-family: Teko-Semibold;
	font-size: 13.5px;
	font-weight: 600;
}*/

.navbar-inverse { 
	background-color: rgba(0,0,0, 0.8) !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.carousel-indicators li {
	width: 23px;
	height: 23px;
	border-radius: 23px;
    border: 1.5px solid #0092d0;

}
.carousel-indicators .active{
	width: 23px;
	height: 23px;
    background-color: #0092d0;
}

.btn-round-lg{
	border-radius: 22.5px;
}
.btn-round{
	border-radius: 17px;
}
.btn-round-sm{
	border-radius: 15px;
}
.btn-round-xs{
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}
.blue-border-color{
	color: #0092d0;
	background-color: rgba(0,0,0,0);
    border: 1.5px solid #0092d0;
}
.carousel-desc{
	font-size: 74.3px;
	font-family: "Teko-Light";
	color: white;
}
.carousel-desc19{
	font-size: 19.9px;
	color: #0092d0;
}
.carousel-desc16{
	font-size: 16.4px;
	color: #0092d0;
}
.jobs-link > a{
	color: #0092d0;
	font-family: Teko;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;	
}
.carousel-desc34{
	font-size: 34.6px;
	color: #0092d0;
}

.carousel-caption {
    padding-bottom: 250px;
}
.zero-padding {
	padding: 0px
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.float-div {
	position: absolute;
	top : 108px;
	left : 200px;
}

.bg-blue {
	background-color: #0092d0;
}
.bg-white {
	background-color: rgba(255,255,255,1);
}

.jobs-list > li{
	font-family: Rajdhani;
	font-size: 29px;
	font-weight: 700;
	text-align: left;
	color: #4a4a4a;
}
.jobs-description {
	/*
02. small text: Fort style: Rajdhani-Medium, Font size: 19pt, Font color: #959595

	*/
	font-family: Rajdhani;
	font-size: 19px;
	font-weight: 500;
	line-height: 1.21;
	text-align: left;
	color: #959595;
}
.apply-now {
	font-family: Calibri;
	font-size: 10px;
	font-weight: 300;
	color: white;
	/*line-height: 1.21;*/
}

#parteners{
	background-color: #0092d0;
}

.blue-text{
	color: #0092d0;
}

#social-div{
	text-align: right;
}

label#subscribeInputEmail-error.error{
	color: white;
}

#games, #aboutus, #carousel{
	padding: 0px;
}

#aboutus-div > h2 {
	padding-top: 50px;
	padding-left: 20%;
}

#aboutus-desc  {
	width: 412px;
	height: 149px;
	font-family: Teko;
	font-size: 18px;
	line-height: 1.29;
	letter-spacing: -0.4px;
	color: white;
	padding-left: 20%;
}

.half-blue-background{
  background: linear-gradient(to right, #0092d0 0%, #0092d0 50%, white 50%, white 100%);
}

.aboutus-half-background{
/*	background-image: url(assets/img/main_about_leftimage.png), linear-gradient(#0092d0, white); 
	background-repeat: no-repeat;
	background-size: 50% 100%;
*/

  /*background: linear-gradient(to right, #0092d0 0%, #0092d0 50%, white 50%, white 100%);*/
}

mark{
	background-color: #0092d0;
}

.jobs-empty-height{
	height: 33px;
}

.newsletter-desc {
	font-family: 'Rajdhani';
	font-size: 29px;	
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
}	

#contact-div{
	font-family: 'Rajdhani';
	font-size: 23px;
	font-weight: 500;
	/*font-family: 'Rajdhani-Medium';
	font-size: 12px;*/
}

#contact-div > small{
	color: #959595;
}
/*.subscribe-now{
	width: 200px;
}*/

h2 > bdi {
	font-family: Teko;
	font-size: 49px;
	font-weight: 600;
	padding-bottom: 5px;
    border-bottom: 1px solid #0092d0;
}
h2 > bdi.black-underline-title{
    border-bottom: 1px solid gray;
}

h2 > bdi.white-underline-title{
    border-bottom: 1px solid white;
}
.mailLink{
	text-decoration: underline;
}
.about-description{
    /*background: none repeat scroll 0 0 #FFffff;*/
    /*opacity: 0.5;*/
    /*margin: 0 auto;*/
    margin-top: -60%;
    margin-left: 30%; 
    margin-right: 7%;
    /*text-align:center;*/
    position: relative;
    /*width:60%;*/
    /*background-color: red;*/
}
.about-description > div{
	color :white;
	font-family: Teko;
	font-size: 17.5px;
}


.games-description{
    /*background: none repeat scroll 0 0 #FFffff;*/
    /*opacity: 0.5;*/
    /*margin: 0 auto;*/
    margin-top: -60%;
    margin-left: 7%; 
    margin-right: 7%;
    /*text-align:center;*/
    position: relative;
    /*width:60%;*/
    /*background-color: red;*/
}
.games-description > div{
	color :white;
	font-family: Teko;
	font-size: 17.5px;
}
