/* 
	blue:  #0092d0
*/

/* ==== GENERAL ==== */
body {
	/*margin-top: 50px;
	font-family: 'Teko-Semibold', sans-serif;
	font-size: 16px;*/
	
	background-color: rgba(0,0,0, 0.8);
	/*opacity: 0.8*/
	padding-top: 50px; 
}
/* 
	문제가 생기면 읽어보자!!
	https://spin.atomicobject.com/2015/03/06/bootstrap-add-xl-grid-size-option/
*/
.container{
	width: 95%;
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #0092d0;
}

a:hover {
	text-decoration: none;
	color: #0092d0 !important;
}

blockquote {
	padding: 0;
	border: none;
	font-style: italic;
	text-align: left;
}

blockquote cite {
	display: block;
	color: #777;
	margin: 15px 0 0 0;
}

blockquote:before {
	display: none;
}

img {
	max-width: 100%;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	/*color: white;*/
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background: #79b044;
	border: none;
}

.btn-success:hover {
	background: #6a9b3d;
	border-color: #6a9b3d;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

.text-danger, li.text-danger a {
	color: #dd5638;
}

a.text-danger:hover {
	color: #e55939;
}

.badge.social {
	background: #000;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 5px 20px 0;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.badge.social.twitter:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.gplus:hover {
	background: #db4b39;
}

.badge.social.linkedin:hover {
	background: #0077B5;
}

/* === CUSTOM ICON SPRITES === */

/*i.ci {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer 	{ background-position: 0 0; }
.ci.ci-watch		{ background-position: -40px 0; }
.ci.ci-calendar		{ background-position: -80px 0; }
.ci.ci-community	{ background-position: -120px 0; }
.ci.ci-parteners	{ background-position: -160px 0; }
.ci.ci-device		{ background-position: -200px 0; }
*/
section {
	padding: 10px 0 20px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 20px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

#jobs{
	/*background-color: #0092d0;*/
	/*color: white;	*/
}
#parteners {
	background-color: #3e4249;
	color: white;
}

footer {
	background: rgba(0, 0, 0, 0.8);
	color: gray;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: gray;
}
footer strong{
	color: white;
}
footer a:hover {
	color: #dd5638;
}

#google-map {
	height: 400px;
}

#contact {
	 background-color: white;
	 padding-bottom: 0;
}
#map {
	 background-color: white;
	 padding-bottom: 0;
}
#blog {
	 background-color: white;
}
.navbar-brand{
	padding-top: 5px;
}
#logo {
	width: 180px;
	/*height: 24px;*/
}
.navbar-nav > .active > a > div {
    color: #0092d0;
	padding-bottom: 1px;
    border-bottom: 2px solid #0092d0;

    font-family: Teko !important;
    /*font-style: 'Semibold' !important;*/
    font-size: 27px !important;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a {
	color: #707070;
    font-family: Teko !important;
    /*font-style: 'Semibold' !important;*/
    font-size: 27px !important;
	font-weight: 600;
}
.navbar-inverse { 
	background-color: rgba(0,0,0, 0.8) !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
.carousel-indicators li {
	width: 40px;
	height: 40px;
	border-radius: 23px;
    border: 1.5px solid #0092d0;

}
.carousel-indicators .active{
	width: 40px;
	height: 40px;
    background-color: #0092d0;
}

.btn-round-lg{
	border-radius: 25px;
}
.btn-round{
	border-radius: 17px;
}
.btn-round-sm{
	border-radius: 15px;
}
.btn-round-xs{
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}
.blue-border-color{
	color: #0092d0;
	background-color: rgba(0,0,0,0);
    border: 3px solid #0092d0;
}
.white-border-color{
	color: white;
	background-color: rgba(0,0,0,0);
    border: 3px solid white;
}
.carousel-desc{
	font-size: 10.501em;
	font-family: Teko;
	font-weight: 300;
	color: white;
	position: relative;
    line-height: 0.8em;
    text-decoration: none;
	display: inline-block;
}
.carousel-desc-1{
	font-size: 2.9em;
	font-family: Teko;
	font-weight: 300;
	color: #0092d0;
	position: relative;
    line-height: 0.8em;
    text-decoration: none;
}
.carousel-desc-2{
	font-size: 2.37em;
    font-family: Teko;
    font-weight: 300;
    color: #0092d0;
    position: relative;
    line-height: 1.3em;
    text-decoration: none;
}
.carousel-desc-3{
	font-size: 5em;
    font-family: Teko;
    font-weight: 300;
    color: #0092d0;
    position: relative;
    line-height: 0.7em;
    text-decoration: none;
}
.carousel-desc-5{
	font-size: 33px;
	color: black;
	font-family: Teko;
	font-weight: 300;
}
.carousel-desc-4{
	font-size: 40px;
	color: white;
	font-family: Teko;
	font-weight: 300;
}

.carousel-desc-6{
	font-size: 40px;
	color: white;
	font-family: Teko;
	font-weight: 300;
}
#carousel-circle {
	width: 600px;
	height: 600px;
	border-radius: 100%;
	align-items: center;
	display: flex;;
	background-color: rgba(0, 146, 208, 0.8);
}
.carousel-caption {
	display: flex;
	align-items: center;
    height: 100%;
    justify-content: center;
}	
#carousel-descrption{
	text-align: center;
	width: 100%;
}
.black{
	color: black;
}
.jobs-link > a{
	color: #0092d0;
    font-family: Teko;
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;	
}

.zero-padding {
	padding: 0px
}

.float-div {
	position: absolute;
	top : 108px;
	left : 200px;
}

.jobs-list > li > button{
	background-color: #0092d0;
	font-family: Rajdhani;
	font-size: 0.8em;
	font-weight: 500;
	color: white;
}

.bg-white {
	background-color: rgba(255,255,255,1);
}

.jobs-list > li{
	font-family: Rajdhani;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.4em;
	text-align: left;
	color: #4a4a4a;
	list-style-type: none;
	text-indent: -1.8em;
}

.jobs-description {
	font-family: Rajdhani;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
    color: #959595;
    position: relative;
    line-height: 1.2em;
	text-indent: 0em;
}

#parteners{
	background-color: #0092d0;
}

.blue-text{
	color: #0092d0;
    position: relative;
	font-size: 1.4em;
    line-height: 0.7em;
    text-decoration: none;
    display: inline-block;

}
.black-text{
	color: #000000;
    position: relative;
	font-size: 1.em;
    line-height: 0.7em;
    text-decoration: none;
    display: inline-block;

}

#social-div{
	text-align: right;
}

#games, #aboutus, #carousel{
	padding: 0px;
}

#aboutus-div > h2 {
	padding-top: 50px;
	padding-left: 20%;
}

#aboutus-desc  {
	width: 412px;
	height: 149px;
	font-family: Teko;
	font-size: 18px;
	line-height: 1.29;
	letter-spacing: -0.4px;
	color: white;
	padding-left: 20%;
}

.half-blue-background{
  background: linear-gradient(to right, #0092d0 0%, #0092d0 50%, white 50%, white 100%);
}

mark{
	background-color: #0092d0;
}

.jobs-empty-height{
	height: 33px;
}

.newsletter-desc {
	font-family: 'Rajdhani';
	font-size: 1.5em;	
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
}	

#contact-div{
	font-family: 'Rajdhani';
	font-size: 23px;
	font-weight: 500;
}

#contact-div > small{
	color: #959595;
}

h2 > bdi {
	font-family: Teko;
	font-size: 1.5em;
	font-weight: 600;
	padding-bottom: 5px;
    border-bottom: 1px solid #0092d0;
}
h2 > bdi.black-underline-title{
    border-bottom: 1px solid gray;
	position: relative;
    line-height: 0.7em;
    text-decoration: none;
    display: inline-block;
}

h2 > bdi.white-underline-title{
    border-bottom: 1px solid white;
	position: relative;
    line-height: 0.7em;
    text-decoration: none;
    display: inline-block;
}
.mailLink{
	text-decoration: underline;
}

.col-text{
	font-family: Teko;
	font-weight: 400;
	font-size: 2em;
	color: white;

}

#games > .container{
	width: 100%; 
	padding: 0;
}

#games > .container > .row-fluid{
	display: flex;
}

#games-left {
	background: url('../img/main_games_leftimage.png') no-repeat 50% 50%;
	background-size: cover;
}
#games-right {
	background: url('../img/main_games_rightimage.png') no-repeat 50% 50%;
	background-size: cover;
}
#games-text {
    padding: inherit;
    display: table-cell;
    vertical-align: middle;
    
}

#aboutus > .container{
	width: 100%; 
	padding: 0;
}

#aboutus > .container > .row-fluid {
	display: flex;
}
#aboutus-left {
	background: url('../img/main_about_leftimage.png') no-repeat 50% 50%;
	background-size: cover;
}

#aboutus-right {
	background: url('../img/main_about_rightimage.png') no-repeat 50% 50%;
	background-size: cover;
}

#about-text {
    padding-left: 2em;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding: inherit;
    display: table-cell;
    vertical-align: middle;
    
}

#multi-language{
	padding-left: 10px;
	padding-top: 11px;
}

.blog-date{
	font-family: Rajdhani;
	font-size: 15px;
	font-weight: 500;
	color: #959595;

}
.blog-title{
	font-family: Teko;
	font-size: 28px;
	font-weight: 500;
	line-height: 0.9em;
}
.blog-body{
	font-family: Rajdhani;
	font-size: 17px;
	font-weight: 500;
	color: #959595;

	max-height:75px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis ;
}
.blog-link{
	font-size: 19px;
    border-bottom: 2px solid #0092d0;
    bottom : 2px;
	line-height: 0.8em;
}
.blog-background {
	background-color: rgba(0,0,0, 0.8);
}
.blog-icon {
	position:absolute; 
	left: 30px; 
	top: 10px;
}
.blog-cell{
	padding: 20px;
}

.blog-table{
	padding-bottom: 20px;
}

.blog-image{
    width: 100%;
}
#job-right{
	padding-left: 40px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
}

/* ==== MEDIA QUERIES ==== */
@media (min-width: 3200px) {
		body {
	font-size: 200%;
	}
    .row-vcenter {
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;

        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    .navbar-inverse{
    	background-color: gray !important;
    }
	
	#aboutus-left{
		Padding-top: 120px;
		Padding-bottom: 0px;
		Padding-left: 200px;
		padding-right: 50px;
		height: 950px;
		display: table-cell;
		vertical-align: middle;			
	}
	#aboutus-right{
		height: 950px;
	}
	#games-left{
		height: 950px;
	}
	#games-right{
		Padding-top: 120px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 200px;
		height: 950px;
	}

	#jobs_left{
		background-color: #0092d0;
		Padding-left: 300px;
		Padding-right: 10px;
		Padding-top: 10px;
		Padding-bottom: 10px;
		display: table-cell;
		float: right;
		
	}
	#jobs-title{		
		Padding-top: 0px;
		Padding-bottom: 0px;
		Padding-left: 34px;
		padding-right: 0px;
		position: relative;
		line-height: 0.7em;
        text-decoration: none;
        display: inline-block;
	}
	#jobs-description{
	Padding-left: 34px;
	}

	#blog{
	padding-top: 23px;
	padding-bottom: 30px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#newsletter{
	padding-top: 24px;
	padding-bottom: 29px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#parteners{
	padding-top: 21px;
	padding-bottom: 30px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#contact{
	padding-top: 21px;
	padding-bottom: 23px;
	padding-left: 300px;
	padding-right: 300px;
	}


	#carousel-back-image1{
		content: url('../img/main_image_ourgames.png');
	}
	#carousel-back-image2{
		content: url('../img/main_image_whoweare.png');		
	}
}


@media screen and (max-width: 2600px) {
	body {
	font-size: 150%;
	}
    .row-vcenter {
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;

        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    .navbar-inverse{
    	background-color: gray !important;
    }
	
	#aboutus-left{
		Padding-top: 120px;
		Padding-bottom: 0px;
		Padding-left: 200px;
		padding-right: 50px;
		height: 950px;
		display: table-cell;
		vertical-align: middle;			
	}
	#aboutus-right{
		height: 950px;
	}
	#games-left{
		height: 950px;
	}
	#games-right{
		Padding-top: 120px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 200px;
		height: 950px;
	}

	#jobs_left{
		background-color: #0092d0;
		Padding-left: 300px;
		Padding-right: 10px;
		Padding-top: 10px;
		Padding-bottom: 10px;
		display: table-cell;
		float: right;
		
	}
	#jobs-title{		
		Padding-top: 0px;
		Padding-bottom: 0px;
		Padding-left: 34px;
		padding-right: 0px;
		position: relative;
		line-height: 0.7em;
        text-decoration: none;
        display: inline-block;
	}
	#jobs-description{
	Padding-left: 34px;
	}

	#blog{
	padding-top: 23px;
	padding-bottom: 30px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#newsletter{
	padding-top: 24px;
	padding-bottom: 29px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#parteners{
	padding-top: 21px;
	padding-bottom: 30px;
	padding-left: 300px;
	padding-right: 300px;
	}

	#contact{
	padding-top: 21px;
	padding-bottom: 23px;
	padding-left: 300px;
	padding-right: 300px;
	}


	#carousel-back-image1{
		content: url('../img/main_image_ourgames.png');
	}
	#carousel-back-image2{
		content: url('../img/main_image_whoweare.png');		
	}
}

@media screen and  (max-width: 1950px) {
	body {
	font-size: 150%;
	}
    .row-vcenter {
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;

        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    .navbar-inverse{
    	background-color: gray !important;
    }
	
	#aboutus-left{
		Padding-top: 100px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 50px;
		height: 950px;
		display: table-cell;
		vertical-align: middle;			
	}
	#aboutus-right{
		height: 950px;
	}
	#games-left{
		height: 950px;
	}
	#games-right{
		Padding-top: 100px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 25px;
		height: 950px;
	}

	#jobs_left{
		background-color: #0092d0;
		Padding-left: 25px;
		Padding-right: 10px;
		Padding-top: 10px;
		Padding-bottom: 10px;
		display: table-cell;
		float: right;
		
	}
	#jobs-title{		
		Padding-top: 0px;
		Padding-bottom: 0px;
		Padding-left: 34px;
		padding-right: 0px;
		position: relative;
		line-height: 0.7em;
        text-decoration: none;
        display: inline-block;
	}
	#jobs-description{
	Padding-left: 34px;
	}

	#blog{
	padding-top: 23px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#newsletter{
	padding-top: 24px;
	padding-bottom: 29px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#parteners{
	padding-top: 21px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#contact{
	padding-top: 21px;
	padding-bottom: 23px;
	padding-left: 0px;
	padding-right: 0px;
	}


	#carousel-back-image1{
		content: url('../img/main_image_ourgames_1920.png');
	}
	#carousel-back-image2{
		content: url('../img/main_image_whoweare_1920.png');		
	}
}

@media screen and  (max-width: 1600px) {
	body {
	font-size: 120%;
	}
    .row-vcenter {
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;

        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    .navbar-inverse{
    	background-color: gray !important;
    }
	
	#aboutus-left{
		Padding-top: 70px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 50px;
		height: 700px;
		display: table-cell;
		vertical-align: middle;			
	}
	#aboutus-right{
		height: 700px;
	}
	#games-left{
		height: 700px;
	}
	#games-right{
		Padding-top: 70px;
		Padding-bottom: 0px;
		Padding-left: 25px;
		padding-right: 25px;
		height: 700px;
	}

	#jobs_left{
		background-color: #0092d0;
		Padding-left: 25px;
		Padding-right: 10px;
		Padding-top: 10px;
		Padding-bottom: 10px;
		display: table-cell;
		float: right;
		
	}
	#jobs-title{		
		Padding-top: 0px;
		Padding-bottom: 0px;
		Padding-left: 34px;
		padding-right: 0px;
		position: relative;
		line-height: 0.7em;
        text-decoration: none;
        display: inline-block;
	}
	#jobs-description{
	Padding-left: 34px;
	}

	#blog{
	padding-top: 23px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#newsletter{
	padding-top: 24px;
	padding-bottom: 29px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#parteners{
	padding-top: 21px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	}

	#contact{
	padding-top: 21px;
	padding-bottom: 23px;
	padding-left: 0px;
	padding-right: 0px;
	}


	#carousel-back-image1{
		content: url('../img/main_image_ourgames_1920.png');
	}
	#carousel-back-image2{
		content: url('../img/main_image_whoweare_1920.png');		
	}
}


@media screen and (max-width : 1024px) {
	body {
	font-size:80%;
	}
    .navbar-inverse{
    	background-color: green !important;
    }
	.half-blue-background{
	  /*background: linear-gradient(to right, #0092d0 0%, #0092d0 50%, white 50%, white 100%);*/
	  background: #0092d0 !important;
	}
	
	#carousel-descrption{
		font-size: 20%;
	}

	#jobs_left{
		background-color: #0092d0;
		Padding-left: 2em;
		Padding-right: 2em;
		Padding-top: 2em;
		Padding-bottom: 2em;
	}
	#myform > div{
		padding-top: 5px;
	}
	#partners-list{
		text-align: center;
	}
	#footer-right{
		text-align: center !important;
		float: left !important;
	}
	#jobs-title{
		
		Padding-right: 2em;
		Padding-top: 0.5em;
		position: relative;
		line-height: 0.7em;
        text-decoration: none;
        display: inline-block;
	}
	#carousel-descrption{
		padding-top: 10px;
		font-size: 100%;
	}

	#aboutus > .container > .row-fluid {
		display: block !important;
	}
	#aboutus-left{
		padding-top: 20px;
		padding-right: 20px;
		height: 400px;
	}
	#aboutus-right{
		height: 400px;
	}
	#games > .container > .row-fluid {
		display: block !important;
	}
	#games-left{
		height: 400px;
	}
	#games-right{
		/*padding-left: 10px;*/
		padding-top: 20px;
		height: 400px;
	}
	#games-text {
	    padding-left: 3%;
	}
	.carousel-indicators li{
		width: 20px !important;
		height: 20px !important;
	}
	.carousel-caption{
		/*display: none;*/
	}

	#carousel-back-image1{
		content: url('../img/main_image_ourgames_1920.png');
	}
	#carousel-back-image2{
		content: url('../img/main_image_whoweare_1920.png');		
	}
}

@media screen and (max-width : 768px) {
	body {
		font-size:100%;
	}
    .navbar-inverse{
    	background-color: orange !important;
    }
	.ui-segment{
		/*background-color: blue;*/
		margin-top: 15px;
	}
	#myform > div{
		padding-top: 5px;
	}
	.carousel-indicators li {
		width: 17px !important;
		height: 17px !important;
	}
	
	#carousel-descrption{
		padding-top: 20px;
		font-size: 60%;
	}

	#aboutus-left{
		padding-top: 0px;
		padding-right: 20px;
		height: 300px;

	}
	#aboutus-right{
		height: 300px;
	}

	#games-left{
		padding-top: 0px;
		padding-right: 20px;
		height: 300px;
	}
	#games-right{
		/*padding-left: 10px;*/
		height: 400px;
	
	#jobs_left{
	display:none;
	}

	#jobs-right{
	background-color:#000000;
	
	}
	
	#applybutton{
	display:none;
	}

	#partners-list{
		text-align: center;
	}
	#footer-right{
		text-align: center !important;
		float: left !important;
	}

	#carousel-back-image1{
		content: url('../img/mobile_main_image_oursgames.png');
	}
	#carousel-back-image2{
		content: url('../img/mobile_main_image_whoweare.png');		
	}
}

@media screen and (max-width : 568px) {
    .navbar-inverse{
    	background-color: blue !important;
    }
	.ui-segment{
		/*background-color: red;*/
		margin-top: 15px;
		margin-left: 15px;
	}
	#multi_language{
		visibility: none;
	}
	footer div > div nav {
		text-align: center;
	}
	#social-div{
		text-align: center !important;
		padding-top: 20px;
	}
	#myform > div{
		padding-top: 5px;
	}
	.carousel-indicators li {
		width: 10px !important;
		height: 10px !important;
	}
	#footer-right{
		width: 100%!important;
		text-align: center !important;
		float: center !important;
	}

	#carousel-descrption{
		padding-top: 210px;
		font-size: 80%;
	}

	#aboutus-left{
		Padding-top: 0px;
		Padding-bottom: 10px;
		Padding-left: 10px;
		padding-right: 10px;
		height: 100px;
		display: table-cell;
		vertical-align: top;
		font-size: 90%;
	}

	#aboutus-right{
		height: 300px;
	}
	#games-left{
		height: 300px;
	}

	#games-right{
		Padding-top: 0px;
		Padding-bottom: 10px;
		Padding-left: 10px;
		padding-right: 10px;
		height: 100px;
		display: table-cell;
		vertical-align: top;
		font-size: 90%;
	}
	#jobs_left{
	display:none;
	}

	#jobs-right{
	width: 600px;
	background-color:#000000;
	
	}
	
	#applybutton{
	display:none;
	}

	#jobs-title{
		Padding-right: 0px;
		Padding-top: 0px;
		margin: 0 0 0 0;
		position: relative;
		width: 500px;
        text-decoration: none;
       
		
	}

	#carousel-back-image1{
		content: url('../img/mobile_main_image_oursgames.png');
	}
	#carousel-back-image2{
		content: url('../img/mobile_main_image_whoweare.png');		
	}
}